h1 {
    font-family: Verdana, serif;
    font-weight: normal;
    font-size: 50px;
    color: #fff;
    text-align: center;
}

a {
    color: aquamarine;
    font-size: 16px;
    text-align: center;
}